/* BRAND */
.brand {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: max-content;
}

.brand-logo {
  height: 1.5rem;
}

.brand-text {
  color: #ffffff;
  font-family: 'Rubik Black', sans-serif;
  font-size: 1.25rem;
}
