@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-size: 100 900;
}

@font-face {
  font-family: 'Rubik Black';
  src: url('./assets/fonts/Rubik-ExtraBold.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171717;
  color: #ffffff;
  padding: 0 2rem;
  height: 4rem;
  width: 100%;
  position: relative;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  list-style-type: none;
}

.nav-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
  height: 100%;
  padding: 0 1rem;
  position: relative;
}

.nav-list-item:hover {
  background-color: #0a0a0a;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    background-color: #f97316;
    top: 100%;
    right: 0;
    width: 0px;
    height: calc(100vh - 64px);
    position: absolute;
    transition: width 0.3s cubic-bezier(0.6, -0.5, 0.3, 2);
  }

  .nav-list.mobile {
    width: 320px;
  }

  .nav-list-item {
    justify-content: center;
    height: 4rem;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .nav-list.mobile {
    width: 100%;
  }
}
