@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-size: 100 900;
}

@font-face {
  font-family: 'Rubik Black';
  src: url('./assets/fonts/Rubik-ExtraBold.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .h-custom {
    /* small viewport height - header height */
    height: calc(100svh - 64px);
  }
}

.nav-list.mobile {
  @apply flex items-center justify-center h-custom w-full;
}

.nav-list-item.selected {
  @apply md:bg-orange-500;
}

.nav-list.mobile > .nav-list-item {
  @apply flex items-center justify-center text-base font-bold h-16 w-full active:font-black md:active:font-bold;
}

.nav-list.mobile > .nav-list-item.selected {
  @apply bg-orange-500;
}
